# Nord Invasion Dedicated Server Config - Fianna style
# Place this file next to mb_warband_dedicated.exe

# Admin and server identity
set_pass_admin fianna_admin_123
set_server_name Fianna_NordInvasion_RU #1 - Waves
set_welcome_message Добро пожаловать на Nord Invasion! | Wave: {reg1} | Убей всех нордов! | Магазин: нажми F на сундук
set_mission mp_nord_town_01 mp_nord_village_01 mp_nord_castle_01 mp_nord_forest_01 mp_nord_snow_01
set_map mp_nord_town_01
set_game_type 10
set_max_players 32 32
set_num_bots_voteable 0
set_upload_limit 2000000

# Network
set_port 7240
set_add_to_game_servers_list 1
set_server_log 1

# Gameplay - disable native respawn, we control it
set_round_max_seconds 3600
set_respawn_period 100000
set_friendly_fire 0
set_melee_friendly_fire 0
set_friendly_fire_damage_self_ratio 0
set_friendly_fire_damage_friend_ratio 0
set_allow_player_banners 1
set_ghost_mode 0
set_control_block_dir 0
set_combat_speed 2
set_add_to_game_servers_list 1

# Voting disabled for NI
set_allow_vote 0

# Anti-cheat (WSE enhanced)
# set_anti_cheat 1

# Start
start
